@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');





/* 
  ##Device = Desktops (Escritorio)
  ##Screen = 1281px pantallas de escritorio de alta resolución
*/

@media (min-width: 1281px) {

    /* CSS */


    :root {
        --padding-container: 100px 0;
        --color-title: #001a49;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }



    .container {
        align-items: center;
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
        padding: var(--padding-container);
        overflow: hidden;
    }

    /* navigation*/

    li,
    a,
    button {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: #2f2f2f;
        text-decoration: none;
    }



    button {
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }

    button:hover {
        background-color: rgba(0, 136, 169, 0.8);
    }

    /* Eleccion de hospedaje */

    #Casa,
    #Cabaña,
    #Departamento {
        width: 33.33%;
        height: 80vh;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin: 0px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
    }

    #Casa {
        float: left;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("/IMG/Casa-denanlan/Depto--172.jpg");
    }

    #Cabaña {
        float: left;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("/IMG/Casa-denanlan/Depto--161.jpg");
    }

    #Departamento {
        float: left;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)), url("/IMG/Casa-denanlan/Depto--168.jpg");
    }

    .Principal {
        color: rgba(0, 174, 255, 0.733);
    }

    .modulo-contacto {
        width: 500px;
        max-width: 100%;
        margin: auto;
        margin-top: 20px;
        padding: 20px;
        box-shadow: 0 0 20px 1px rgb(0, 0, 0, 0.3);
        position: relative;
    }

    /* Formulario de contacto */
    
    .Resumen {
        padding: 0px 150px;
    }

    .title-contacto {
        font-size: 40px;
        color: rgb(24 116 20 / 83%);
        text-align: center;
    }

    .formulario-input,
    .formulario-label {
        width: 20%;
        font-size: 14px;
        align-content: center;
        display: inline-flex;
    }

    .formulario-input {
        border: 1px solid rgba(0, 0, 0, 0.3);
        padding: 20px;
        margin: 40px 0;
    }

    .formulario-label {
        display: inline-block;
        text-align: center;
        margin: 5px 0;
        font-size: 20px;
    }

    .formulario-submit {
        justify-content: space-between;
        text-align: center;
        padding: 30px;
    }

    .prueba123 {
        margin: 40px;
        border-radius: 30px;
        border-color: grey;

    }

    /* Boton enviar */

    #submit-wpp {
        color: red;
        background-color: green;

    }

    #submit-wpp:disabled {
        cursor: default;
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5))
    }

    /* Portada Pricipal */

    .heroCasa {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px;
        color: white;
    }

    .heroCasa::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/IMG/Casa-denanlan/Depto--158.jpg');
        background-size: cover;
        background-position: center center;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
        z-index: -1;
    }

    .heroCabaña {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px;
        color: white;
    }

    .heroCabaña::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/IMG/Casa-denanlan/Depto--160.jpg');
        background-size: cover;
        background-position: center center;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
        z-index: -1;
    }

    .heroDepartamento {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        max-height: 800px;
        position: relative;
        display: grid;
        grid-template-rows: 100px;
        color: white;
    }

    .heroDepartamento::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/IMG/Casa-denanlan/Depto--168.jpg');
        background-size: cover;
        background-position: center center;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
        z-index: -1;
    }

    .heroContainer {
        max-width: 800px;
        --padding-container: 0px;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 155px;
        padding-top: 250px;
        text-align: center;

    }

    .tituloHero {
        font-size: 3rem;
    }

    .heroDescricpion {
        margin-bottom: 20px;
        padding: 0px 200px;
    }

    /* Items Principales */

    .about {
        text-align: center;
    }

    .aboutTitulo {
        color: var(--color-title);
        font-size: 2rem;
        margin-bottom: 25px;
    }

    .aboutDescripcion {
        line-height: 1.7;
        min-height: 150px;
    }

    .aboutMain {
        display: grid;
        width: 100%;
        margin: 0 auto;
        gap: 1em;
        overflow: hidden;
        grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    }

    .aboutIcons {
        gap: 1em;
        justify-items: center;
        width: 250px;
        overflow: hidden;
        margin: 30px;
    }

    .aboutIcon {
        width: 40px;
    }

    /* Habitaciones */

    .fondo {
        background-color: #e5e5f7;
        background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
        background-size: 20px 20px;
        background-position: 0 0, 10px 10px;
        overflow: hidden;
    }

    .fondoMoradoContainer,
    .cocinaContainer {
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: center;
        padding: 50px 0;
    }

    .habitacionTexto {
        text-align: center;
        margin-bottom: 15px;
    }


    /*A-CHEQUEAR*/

    /* Habitaciones */

    .descripcionTexto {
        line-height: 1.7;
        margin-bottom: 15px;
    }


    html {
        scroll-behavior: smooth;
    }

    .carouselModify {
        width: 65%;
    }

    

}

/*  
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

/* @media (min-width: 1025px) and (max-width: 1280px) {
    
   
    
  }  */

/* 
    ##Device = Tablets, Ipads (portrait/Vertical)
    ##Screen = B/w 768px to 1024px
  */

/* @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  } */

/* 
    ##Device = Tablets, Ipads (landscape/horizontal)
    ##Screen = B/w 768px to 1024px
  */

/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  } */

/* 
    ##Device = Baja resolución Tablets, Mobiles (Landscape/horizontal)
    ##Screen = B/w 481px to 767px
  */

/* @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  } */