  /* 
    ##Device = La mayoría de los Smartphones Móviles (Portrait/Vertical)
    ##Screen = B/w 320px to 479px
  */

  @media (min-width: 320px) and (max-width: 1281px) {

      /* CSS */

      :root {
          --padding-container: 100px 0;
          --color-title: #001a49;
      }

      * {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }


      .container {
          align-items: center;
          width: 90%;
          max-width: 1200px;
          margin: 0 auto;
          padding: var(--padding-container);
          overflow: hidden;
      }

      /* navigation*/

      li,
      a,
      button {
          font-family: "Montserrat", sans-serif;
          font-weight: 500;
          font-size: 20px;
          color: #2f2f2f;
          text-decoration: none;
      }

      header {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 20px 10%;
          background: linear-gradient(0deg,
                  rgba(68, 168, 170, 0) 0%,
                  rgba(0, 0, 0, 0.363) 100%);
      }

      .logo {
          padding-bottom: 20px;
          cursor: pointer;
          width: 150px;
      }

      .nav-links {
          list-style: none;
          text-align: center;
      }

      .nav-links li {
          display: inline-block;
          padding: 0px 20px;
      }

      .nav-links li a {
          transition: all 0.3 ease 0s;
      }

      .nav-links li a:hover {
          color: #0088a9;
      }

      button {
          padding: 9px 25px;
          background-color: rgba(0, 136, 169, 1);
          border: none;
          border-radius: 50px;
          cursor: pointer;
          transition: all 0.3s ease 0s;
      }

      button:hover {
          background-color: rgba(0, 136, 169, 0.8);
      }

      header .cta {
          padding-top: 20px;
      }

      header .cta button {
          font-size: 25px;
      }

      /* Eleccion de hospedaje */

      #Casa,
      #Cabaña,
      #Departamento {
          width: 100%;
          height: 50vh;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-direction: column;
          margin: 0px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          display: flex;
      }

      #Casa {
          float: initial;
          background-image: linear-gradient(0deg,
                  rgba(0, 0, 0, 0.8),
                  rgba(0, 0, 0, 0.3)), url("/IMG/Casa-denanlan/Depto--136.jpg");
      }

      #Cabaña {
          float: initial;
          background-image: linear-gradient(0deg,
                  rgba(0, 0, 0, 0.8),
                  rgba(0, 0, 0, 0.3)), url("/IMG/Casa-denanlan/Depto--161.jpg");
      }

      #Departamento {
          float: initial;
          background-image: linear-gradient(0deg,
                  rgba(0, 0, 0, 0.8),
                  rgba(0, 0, 0, 0.3)), url("/IMG/Casa-denanlan/Depto--168.jpg");
      }

      .Principal {
          color: rgba(0, 174, 255, 0.61);
      }

      .fullwidth {
          display: flex;
          justify-content: space-evenly;
          margin: 3rem auto;
      }

      .modulo-contacto {
          width: 500px;
          max-width: 100%;
          margin: auto;
          margin-top: 20px;
          padding: 20px;
          box-shadow: 0 0 20px 1px rgb(0, 0, 0, 0.3);
          position: relative;
      }

      /* Formulario de contacto */

      .title-contacto {
          font-size: 40px;
          color: rgb(24 116 20 / 83%);
          text-align: center;
      }

      .formulario-input,
      .formulario-label {
          width: 95%;
          font-size: 14px;
          align-content: center;
          display: flex;
          flex-direction: column;
      }

      .formulario-input {
          border: 1px solid rgba(0, 0, 0, 0.3);
          padding: 10px;
          margin: 10px;
      }

      .formulario-label {
          display: inline-block;
          text-align: center;
          margin: 10px;
          font-size: 20px;
      }

      .formulario-submit {
          justify-content: space-between;
          text-align: center;
          padding: 30px;
      }

      .prueba123 {
          margin: 10px;
          border-radius: 30px;
          border-color: grey;

      }

      /* Boton enviar */

      #submit-wpp {
          color: red;
          background-color: green;

      }

      #submit-wpp:disabled {
          cursor: default;
          background-image: linear-gradient(0deg,
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5))
      }

      /* Portada Pricipal */

      .heroCasa {
          width: 100%;
          height: 100vh;
          min-height: 600px;
          max-height: 800px;
          position: relative;
          display: grid;
          grid-template-rows: 100px;
          color: white;
      }

      .heroCasa::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/IMG/Casa-denanlan/Depto--158.jpg');
          background-size: cover;
          background-position: center;
          clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
          z-index: -1;
      }

      .heroCabaña {
          width: 100%;
          height: 100vh;
          min-height: 600px;
          max-height: 800px;
          position: relative;
          display: grid;
          grid-template-rows: 100px;
          color: white;
      }

      .heroCabaña::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/IMG/Casa-denanlan/Depto--160.jpg');
          background-size: cover;
          background-position: center center;
          clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
          z-index: -1;
      }

      .heroDepartamento {
          width: 100%;
          height: 100vh;
          min-height: 600px;
          max-height: 800px;
          position: relative;
          display: grid;
          grid-template-rows: 100px;
          color: white;
      }

      .heroDepartamento::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('/IMG/Casa-denanlan/Depto--168.jpg');
          background-size: cover;
          background-position: center;
          clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%);
          z-index: -1;
      }

      .heroContainer {
          max-width: 800px;
          --padding-container: 0px;
          display: grid;
          grid-auto-rows: max-content;
          align-content: center;
          gap: 1em;
          padding-bottom: 260px;
          padding-top: 250px;
          text-align: center;

      }

      .tituloHero {
          font-size: 2.8rem;
      }

      .heroDescricpion {
          margin-bottom: 20px;
      }

      /* Items Principales */

      .about {
          text-align: center;
      }

      .aboutTitulo {
          color: var(--color-title);
          font-size: 2rem;
          margin-bottom: 25px;
      }

      .aboutDescripcion {
          line-height: 1.7;
          min-height: 150px;
      }

      .aboutMain {
          display: grid;
          width: 100%;
          margin: 0 auto;
          gap: 1em;
          overflow: hidden;
          grid-template-columns: repeat(auto-fit, minmax(260px, auto));
      }

      .aboutIcons {
          display: grid;
          gap: 1em;
          justify-items: center;
          width: 250px;
          overflow: hidden;
          margin: auto;
      }

      .aboutIcon {
          width: 40px;
      }

      /* Habitaciones */

      .fondo {
          background-color: #e5e5f7;
          background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
          background-size: 20px 20px;
          background-position: 0 0, 10px 10px;
          overflow: hidden;
      }

      .fondoMoradoContainer {
          display: flex;
          flex-direction: column;
          gap: 1em;
          align-items: center;
      }

      .descripcionTexto {
          text-align: center;
          line-height: 1.7;
          margin-bottom: 15px;
      }


      /*A-CHEQUEAR*/

      /* Habitaciones */

      .cocinaContainer {
          display: flex;
          flex-direction: column;
          gap: 1em;
          align-items: center;
      }


      html {
          scroll-behavior: smooth;
      }

      .tituloTexto {
          text-align: center;
      }

      .resumen {
        padding: 0px 0px;
      }
  }